<div class="container">
  <div class="">
    <div class="card">
      <div class="card-header">
        <h5>Detalles del cliente</h5>
      </div>
      <div class="card-body">
        <form id="customerForm" #formCustomer="ngForm" class="row">
          <div class="form-group col-md-6">
            <label for="name">Nombre</label>
            <input type="text" #name="ngModel" name="name" [(ngModel)]="customer.name"
              [class.is-invalid]="name.invalid && (name.dirty || name.touched)" class="form-control" id="name" required>
            <div class="invalid-feedback">*Debe ingresar un nombre</div>
          </div>
          <div class="form-group col-md-6">
            <label for="lastName">Apellidos</label>
            <input type="text" #lastName="ngModel" name="lastName" [(ngModel)]="customer.lastName"
              [class.is-invalid]="lastName.invalid && (lastName.dirty || lastName.touched)" class="form-control"
              id="lastName" required>
            <div class="invalid-feedback">*Debe ingresar un apellido</div>
          </div>
          <div class="form-group col-md-6">
            <label for="id">Cédula</label>
            <input type="text" #id="ngModel" name="id" [(ngModel)]="customer.citizenId"
              [class.is-invalid]="id.invalid && (id.dirty || id.touched)" class="form-control" id="id" required>
            <div class="invalid-feedback">*Debe ingresar una cedula</div>
          </div>
          <div class="form-group col-md-6">
            <label for="phone">Telefono</label>
            <input type="number" #phone="ngModel" name="phone" [(ngModel)]="customer.phone"
              [class.is-invalid]="phone.invalid && (phone.dirty || phone.touched)" class="form-control" id="phone"
              required>
            <div class="invalid-feedback">*Debe ingresar un telefono</div>
          </div>
          <div class="form-group col-md-6">
            <label for="mail">Correo Electronico</label>
            <input type="email" #email="ngModel" name="email" [(ngModel)]="customer.email"
              [class.is-invalid]="email.invalid && (email.dirty || email.touched)" class="form-control" id="mail" email
              required>
            <div class="invalid-feedback">*Debe ingresar un email</div>
          </div>
          <!-- <div class="form-group col-md-6">
            <label for="zone">Ubicación</label>
            <select [compareWith]="compareFn" [class.is-invalid]="zone.invalid && (zone.dirty || zone.touched)"
              class="form-control" id="zone" #zone="ngModel" name="zone" [(ngModel)]="customer.zone" required>
              <option [ngValue]="zone" *ngFor="let zone of zones">{{zone.name}}</option>
            </select>
            <div class="invalid-feedback">*Debe escoger una ubicación</div>
          </div> -->
        </form>
        <div class="btn-group-right" role="group">
          <button type="button" class="btn btn-primary float-right" (click)="editCustomer()">{{btnEditar}}</button>
        </div>
      </div>
    </div>

    <br>
    <!-- Sección de direcciones del cliente -->
    <div class="card">
      <div class="card-header">
        <h5>Direcciones de {{customer.name + ' ' + customer.lastName}}</h5>
      </div>
      <div class="card-body">
        <div class="btn-group-right" role="group">
          <button type="button" class="btn btn-primary float-right"
            (click)="createNewAddress();newAddress.show()">Agregar</button>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <ct-table #addressTable (btnClick)="rowClick($event)"></ct-table>
        </div>
      </div>
    </div>
    <br>
    <!-- Sección de direcciones del cliente -->

    <!-- Sección de cuentas del cliente -->
    <div class="card">
      <div class="card-header">
        <h5>Cuentas de {{customer.name + ' ' + customer.lastName}}</h5>
      </div>
      <div class="card-body">
        <div class="btn-group-right" role="group">
          <button type="button" class="btn btn-primary float-right"
            (click)="createNewAccount();newAccount.show()">Agregar</button>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <ct-table #accountsTable (btnClick)="accountClick($event)"></ct-table>
        </div>
      </div>
    </div>
    <!-- Sección de cuentas del cliente -->

    <br>
  </div>
</div>


<!-- Modal de cuentas del cliente -->
<div bsModal #newAccount="bs-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agregar cuenta a {{customer.name}}</h5>
        <button class="close" type="button" (click)="newAccount.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <form #formAccount="ngForm" class="row">
            <div class="form-group col-md-6">
              <label for="itemName">Articulo</label>
              <input type="text" #itemName="ngModel" name="itemName" [(ngModel)]="account.name"
                [class.is-invalid]="itemName.invalid && (itemName.dirty || itemName.touched)" class="form-control"
                id="itemName" required>
              <div class="invalid-feedback">*Debe ingresar un nombre de articulo</div>
            </div>
            <div class="form-group col-md-6">
              <label for="numberOfPayments">Numero de cuotas</label>
              <input type="number" #numberOfPayments="ngModel" name="numberOfPayments"
                [(ngModel)]="account.numberOfPayments"
                [class.is-invalid]="numberOfPayments.invalid && (numberOfPayments.dirty || numberOfPayments.touched)"
                class="form-control" id="numberOfPayments" required>
              <div class="invalid-feedback">*Debe ingresar un numero</div>
            </div>
            <div class="form-group col-md-6">
              <label for="charge">Monto de cuota</label>
              <input currencyMask #charge="ngModel" name="charge" [(ngModel)]="account.charge"
                [class.is-invalid]="charge.invalid && (charge.dirty || charge.touched)" class="form-control" id="charge"
                required>
              <div class="invalid-feedback">*Debe un monto</div>
            </div>
            <div class="form-group col-md-6">
              <label for="paymentTerm">Términos de pago</label>
              <select [compareWith]="compareFn" [(ngModel)]="account.paymentTerm"
                [class.is-invalid]="paymentTerm.invalid && (paymentTerm.dirty || paymentTerm.touched)"
                class="form-control" id="paymentTerm" #paymentTerm="ngModel" name="paymentTerm" required>
                <option [ngValue]="paymentTerm" *ngFor="let paymentTerm of paymentTerms">{{paymentTerm.name}}</option>
              </select>
              <div class="invalid-feedback">*Debe escoger una opción</div>
            </div>
            <div class="form-group col-md-6" *ngIf="account.paymentTerm">
              <label for="paymentTerm">Día de pago 1</label>

              <input *ngIf="account.paymentTerm && (account.paymentTerm.id==3 || account.paymentTerm.id==2)"
                type="number" #payDayOne="ngModel" name="payDayOne" [(ngModel)]="account.payDayOne"
                [class.is-invalid]="payDayOne.invalid && (payDayOne.dirty || payDayOne.touched)" class="form-control"
                id="payDayOne" required>

              <select *ngIf="account.paymentTerm && account.paymentTerm.id==1" [compareWith]="compareFn"
                [(ngModel)]="account.payDayOne"
                [class.is-invalid]="payDayOneM.invalid && (payDayOneM.dirty || payDayOneM.touched)" class="form-control"
                id="paymentTerm" #payDayOneM="ngModel" name="payDayOneM" required>
                <option [value]="d.val" *ngFor="let d of paymentFreqChange()">{{d.des}}</option>
              </select>

              <div class="invalid-feedback">*Debe escoger una opción</div>
            </div>

            <div *ngIf="account.paymentTerm && account.paymentTerm.id==2" class="form-group col-md-6">
              <label for="paymentTerm">Día de pago 2</label>
              <input type="number" #payDayTwo="ngModel" name="payDayTwo" [(ngModel)]="account.payDayTwo"
                [class.is-invalid]="payDayTwo.invalid && (payDayTwo.dirty || payDayTwo.touched)" class="form-control"
                id="payDayTwo" required>

              <div class="invalid-feedback">*Debe escoger una opción</div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" (click)="newAccount.hide()">Cancelar</button>
        <button class="btn btn-primary" [disabled]="formAccount.invalid"
          (click)="saveCreatedAccount();formAccount.reset()">Guardar</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal de cuentas del cliente -->

<!-- Modal de abonos de cuentas del cliente -->
<div bsModal #newAddress="bs-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agregar dirección a {{customer.name}}</h5>
        <button class="close" type="button" (click)="newAddress.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <form #formAddress="ngForm" class="row">

            <div class="form-group col-md-6">
              <label for="state">Provincia</label>
              <select (change)="stateChange()" [compareWith]="compareFn"
                [class.is-invalid]="state.invalid && (state.dirty || state.touched)" class="form-control" id="state"
                #state="ngModel" name="state" [(ngModel)]="address.state" required>
                <option value="">Seleccione una opción</option>
                <option *ngFor="let s of _states; let i = index" [value]="s">{{s}}</option>
              </select>
              <div class="invalid-feedback">*Debe escoger una provincia</div>
            </div>

            <div class="form-group col-md-6">
              <label for="city">Cantón</label>
              <select (change)="cityChange()" [compareWith]="compareFn"
                [class.is-invalid]="state.invalid && (state.dirty || state.touched)" class="form-control" id="city"
                #city="ngModel" name="city" [(ngModel)]="address.city" required>
                <option value="">Seleccione una opción</option>
                <option *ngFor="let c of _cities; let i = index" [value]="c">{{c}}</option>
              </select>
              <div class="invalid-feedback">*Debe escoger un cantón</div>
            </div>

            <div class="form-group col-md-6">
              <label for="street">Distrito</label>
              <select [compareWith]="compareFn" [class.is-invalid]="state.invalid && (state.dirty || state.touched)"
                class="form-control" id="street" #street="ngModel" name="street" [(ngModel)]="address.street" required>
                <option value="">Seleccione una opción</option>
                <option *ngFor="let st of _streets; let i = index" [value]="st">{{st}}</option>
              </select>
              <div class="invalid-feedback">*Debe escoger un distrito</div>
            </div>

            <div class="form-group col-md-6">
              <label for="isPrefered">Dirección preferida?
                <input type="checkbox" #isPrefered="ngModel" name="isPrefered" [(ngModel)]="address.isPrefered"
                  id="isPrefered">
              </label>
            </div>

            <div class="form-group col-md-12">
              <label for="id">Indicaciones</label>
              <textarea class="form-control" name="detail" #detail="ngModel" id="detail" cols="60" rows="4"
                [(ngModel)]="address.detail" required></textarea>
              <div class="invalid-feedback">*Debe poner las indicaciones</div>
            </div>

          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" (click)="newAddress.hide()">Cancelar</button>
        <button class="btn btn-primary" [disabled]="formAddress.invalid" (click)="saveCreatedAddress()">Guardar</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal de abonos de cuentas del cliente -->