<div class="container">
  <div class="">
    <div class="card">
      <div class="card-header">
        <h5>Detalles de la cuenta</h5>
      </div>
      <div class="card-body">
        <form id="accountForm" #accountForm="ngForm" class="row">
          <div class="form-group col-md-6">
            <label for="name">Articulo</label>
            <input type="text" #name="ngModel" name="name" [ngModel]="account.name" class="form-control" id="name" disabled>
          </div>
          <div class="form-group col-md-6">
            <label for="initialAmmount">Deuda inicial</label>
            <input currencyMask #initialAmmount="ngModel" name="initialAmmount" [ngModel]="account.initialAmmount" class="form-control" id="initialAmmount" disabled>
          </div>
          <div class="form-group col-md-6">
            <label for="actualAmmount">Deuda actual</label>
            <input currencyMask #actualAmmount="ngModel" name="id" [(ngModel)]="account.actualAmmount" [class.is-invalid]="actualAmmount.invalid && (actualAmmount.dirty || actualAmmount.touched)"
              class="form-control editable" id="actualAmmount" required>
            <div class="invalid-feedback">*Debe ingresar un monto</div>
          </div>
          <div class="form-group col-md-6">
            <label for="numberOfPayments">Número de pagos</label>
            <input type="number" #numberOfPayments="ngModel" name="numberOfPayments" [(ngModel)]="account.numberOfPayments" [class.is-invalid]="numberOfPayments.invalid && (numberOfPayments.dirty || numberOfPayments.touched)"
              class="form-control editable" id="numberOfPayments" required>
            <div class="invalid-feedback">*Debe ingresar un número</div>
          </div>
          <div class="form-group col-md-6">
            <label for="charge">Cuota</label>
            <input currencyMask #charge="ngModel" name="charge" [(ngModel)]="account.charge" [class.is-invalid]="charge.invalid && (charge.dirty || charge.touched)"
              class="form-control editable" id="charge" required>
            <div class="invalid-feedback">*Debe ingresar un monto</div>
          </div>
          <div class="form-group col-md-6">
            <div class="form-check">
              <label class="form-check-label" for="already_pay">
                <input type="checkbox"class="form-check-input editable" id="already_pay" #already_pay="ngModel" name="already_pay" [(ngModel)]="account.alreadyPay" required> ¿Cancelado?
              </label>
            </div>
          </div>
        </form>
        <div class="btn-group-right" role="group">
          <button type="button" class="btn btn-primary float-right" (click)="editCustomer()">{{btnEditar}}</button>
        </div>
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-header">
        <h5>Pagos de {{account.name}}</h5>
      </div>
      <div class="card-body">
        <div class="btn-group-right" role="group">
          <button *ngIf="!account.alreadyPay" type="button" class="btn btn-primary float-right" (click)="createNewPayment(); newAccountPayment.show()">Agregar</button>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
            <ct-table></ct-table>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>

<div class="modal fade" bsModal #newAccountPayment="bs-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar abono a {{selectedAccount?.name}}</h5>
          <button class="close" type="button" (click)="newAccountPayment.hide()" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <form #formPayment="ngForm" class="row">
              <div class="form-group col-md-6">
                <label for="ammount">Monto del abono</label>
                <input currencyMask #ammount="ngModel" name="ammount" [(ngModel)]="payment.ammount"
                  [class.is-invalid]="ammount.invalid && (ammount.dirty || ammount.touched)" class="form-control" id="ammount"
                  required>
                <div class="invalid-feedback">*Debe ingresar un monto</div>
              </div>
              <div class="form-group col-md-6">
                <label for="date">Fecha del abono</label>
                <input type="text" #date="ngModel" name="date" [(ngModel)]="payment.date" bsDatepicker [bsConfig]="{dateInputFormat: 'DD/MM/YYYY',containerClass:'theme-dark-blue', showWeekNumbers: false}"
                  [maxDate]="today" [class.is-invalid]="date.invalid && (date.dirty || date.touched)" class="form-control" id="date"
                  required>
                <div class="invalid-feedback">*Debe ingresar una fecha</div>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" (click)="newAccountPayment.hide()">Cancelar</button>
          <button class="btn btn-primary" [disabled]="formPayment.invalid" (click)="saveCreatedPayment()">Guardar</button>
        </div>
      </div>
    </div>
  </div>