<div class="">
  <div class="card-body">
    <div class="col-md-12" role="group">
      <div class="">
        <button type="button" class="btn btn-danger d-none d-sm-block" data-toggle="modal" (click)="approveAllPayments()" data-target="#newUserAccount">Aprobar todos
          <i class="fa fa-check-square-o" aria-hidden="true"></i>
        </button>
      </div>
      <div class="col-sm-12 pr-0 pl-0">
        <button type="button" class="btn btn-danger btn-block d-block d-sm-none" data-toggle="modal" (click)="approveAllPayments()"
          data-target="#newUserAccount">Aprobar todos
          <i class="fa fa-check-square-o" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <ct-table></ct-table>
    </div>
  </div>
</div>